@page "/"
@page "/Questions"

@using AraratianApexSolutions.LeetCodeTracker.Models
@using AraratianApexSolutions.LeetCodeTracker.Services

@inject DataAccessService DataAccessService

<PageTitle>Questions</PageTitle>

<div class="questions">
    <table class="questions__table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Difficulty</th>
            </tr>
        </thead>
        <tbody>
            @if (this._questions != null)
            {
                @foreach (Question question in this._questions)
                {
                    <tr>
                        <td>
                            @(question.Number.ToString().PadLeft(4, '0'))
                        </td>
                        <td>
                            @question.Title
                        </td>
                        <td>
                            @((QuestionDifficultyEnum)question.Difficulty)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="questions__table-controls-container">
        <div class="questions__table-controls">
            <InputNumber @bind-Value="this._pageNumber" @oninput="@(e => this.ListChange(e.Value.ToString()))" min="1" max="@this._maxPageNumber" TValue="int" />
            <span>page of @(this._maxPageNumber) pages. </span>
            <InputNumber @bind-Value="this._howMany" @oninput="@(e => this.SelectChange(e.Value.ToString()))" min="1" max="250" TValue="int" />
            <span> records per page.</span>
        </div>
    </div>
</div>